@font-face {
    font-family: Sahel;
    src: url('./fonts/');
    src: url('./fonts/?#iefix') format('embedded-opentype'),
         url('./fonts/Sahel.woff') format('woff'),
         url('./fonts/Sahel.ttf') format('truetype');
    font-weight: normal;
  }
        
  @font-face {
    font-family: Sahel;
    src: url('./fonts/');
    src: url('./fonts/?#iefix') format('embedded-opentype'),
         url('./fonts/Sahel-Bold.woff') format('woff'),
         url('./fonts/Sahel-Bold.ttf') format('truetype');
    font-weight: bold;
  }
  
  @font-face {
    font-family: Sahel;
    src: url('./fonts/Sahel-Black.eot');
    src: url('./fonts/Sahel-Black.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Sahel-Black.woff') format('woff'),
         url('./fonts/Sahel-MedBlackium.ttf') format('truetype');
    font-weight: 900;
  }