.mainSection__card, .mainSection__main__description, .mainsection__sideBar__section {
  background: white;
  box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.75);
  border-radius: 14px;
  color: #888484;
  cursor: default;
  padding: 15px;
  margin: 20px;
  width: 100%;
}
.mainSection__card *, .mainSection__main__description *, .mainsection__sideBar__section * {
  user-select: none;
}

@media screen and (max-width: 576px) {
  .mainSection__main, .mainSection__sideBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* generall */
* {
  margin: 0;
  font-family: Sahel, sans-serif;
  font-size: 15px;
}

body {
  background: #f9fdff;
}

/* header section */
.header {
  background-color: #f3f4f4;
  min-height: 50px;
  box-shadow: 0 4px 2px -2px rgba(133, 133, 133, 0.479);
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
}

.header .container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.header__nav ul {
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 992px) {
  .header__nav ul {
    flex-direction: column;
  }
}

.header__nav a {
  text-decoration: none;
  color: #888484;
  margin: 0 10px;
}

.header__nav a:hover {
  color: #3f3f3f;
}

.header__logo img {
  width: 150px;
  height: auto;
  padding: 0 15px;
  margin-right: 5px;
}

/* main section */
.mainSection {
  position: relative;
  top: 50px;
  margin-bottom: 50px;
}
.mainSection * {
  user-select: none;
}

.mainsection__sideBar__section li {
  margin: 10px 0;
}

.mainsection__sideBar__section h6 {
  text-align: center;
  font-weight: bold;
}

.mainsection__sideBar__section ul {
  text-align: right;
  list-style-type: none;
}
.mainsection__sideBar__section ul li:first-child span:hover {
  color: #15e2a1;
}
.mainsection__sideBar__section ul li:first-child li:hover {
  color: #15e2a1;
}
.mainsection__sideBar__section ul li:first-child + li:hover {
  color: #15e2a1;
}

.mainsection__sideBar__section__list {
  position: relative;
  right: 15px;
  display: none;
}
.mainsection__sideBar__section__list li {
  display: inline-block;
  width: 100%;
}
.mainsection__sideBar__section__list li:hover {
  position: relative;
  right: 15px;
}
.mainsection__sideBar__section__list .selectedItem {
  position: relative;
  right: 15px;
}

.selectedItem {
  color: #59bd45 !important;
}

.mainsection__sideBar__section__qualityCheckBox li,
.mainsection__sideBar__section__farmers li {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 5px;
}
.mainsection__sideBar__section__qualityCheckBox li:hover,
.mainsection__sideBar__section__farmers li:hover {
  color: #15e2a1;
}
.mainsection__sideBar__section__qualityCheckBox button,
.mainsection__sideBar__section__farmers button {
  background: none;
  border: none;
  outline: none;
}
.mainsection__sideBar__section__qualityCheckBox label,
.mainsection__sideBar__section__farmers label {
  margin: 0 !important;
}

.qualityCheckBox i {
  display: inline-block;
  font-size: 25px !important;
  margin-left: 5px;
}

.fa-arrow-left {
  transition: all 0.5s ease;
  color: #3f3f3f !important;
  position: relative;
  right: 7px;
}

.fa-check-square {
  color: #15e2a1 !important;
}

.mainSection__main__description {
  text-align: center;
  padding: 25px;
}
.mainSection__main__description * {
  margin: 15px 0;
}
.mainSection__main__description h5 {
  color: black;
  font-weight: bold;
  margin-top: 0;
}
.mainSection__main__description p {
  direction: rtl;
}

.sortBy {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: right;
  direction: rtl;
  position: relative;
  margin: 15px 0 5px 0;
}
.sortBy .sortBy__type {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sortBy i {
  position: relative;
  right: 75px;
}
.sortBy .sortBy__type__selector {
  appearance: none;
  border: none;
  list-style: none;
  margin: 0;
  padding: 0 10px;
  position: absolute;
  top: 0;
}
.sortBy .sortBy__type__selector button {
  background: none;
  border: none;
  cursor: default;
  display: none;
  padding-bottom: 5px;
  outline: none;
}
.sortBy .sortBy__type__selector button:hover {
  color: #15e2a1 !important;
}

.mainSection__cardsList {
  padding: 10px;
}
.mainSection__cardsList .row {
  display: flex;
  justify-content: space-around;
  margin: 15px 0;
}
.mainSection__cardsList .col-lg-3 {
  box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  margin: 10px;
  padding: 0;
}

.mainSection__card {
  box-shadow: none;
  border-radius: 5px 5px 0 0;
  margin: 0;
}
.mainSection__card img {
  width: 100%;
  height: auto;
}
.mainSection__card .mainSection__card__orderButton {
  background: #15e2a1;
  border: none;
  border-radius: 5px;
  color: #f9fdff;
  padding: 5px;
}
.mainSection__card .mainSection__card__orderButton:hover {
  background: #0a6d4e;
}
.mainSection__card .mainSection__card__description {
  direction: rtl;
  color: black;
  font-size: 90%;
  font-weight: bold;
  margin: 10px 0;
  text-align: center;
}
.mainSection__card .card__price {
  font-size: 90%;
  text-align: center;
  display: flex;
  color: #6e6a6a;
  justify-content: space-around;
  align-items: center;
}
.mainSection__card .card__price span {
  font-size: 95%;
}

.mainSection__card__additionalDetails {
  background: #f8f8f8;
  border-radius: 0 0 5px 5px;
  direction: rtl;
  display: flex;
  justify-content: center;
  margin: 0 !important;
  align-items: center;
  padding: 0px;
  width: 100%;
}
.mainSection__card__additionalDetails .col-3 {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.mainSection__card__additionalDetails .farmerPic {
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.mainSection__card__additionalDetails .farmerName {
  display: inline-block;
  font-size: 60%;
}
.mainSection__card__additionalDetails .cardIcons {
  width: 100% !important;
}
.mainSection__card__additionalDetails .cardIcon {
  width: 15px;
  height: auto;
  padding: 0 5px;
}

footer {
  background-color: #f3f4f4;
  min-height: 50px;
  box-shadow: 0 4px 2px -2px rgba(133, 133, 133, 0.479);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  z-index: 1;
}
footer a {
  padding-left: 5px;
}

/*# sourceMappingURL=style.css.map */
