// variables
$border-radius: 14px;
$bodyBackground: rgb(249, 253, 255);
$basicGreenColor: #15e2a1;
$darkGreen: rgb(89, 189, 69);
$grey: rgb(136, 132, 132);
$dark-grey: rgb(63, 63, 63);
$light-grey: rgb(248, 248, 248);
// placeholder classes
%boxLayout {
  * {
    user-select: none;
  }
  background: white;
  box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.75);
  border-radius: $border-radius;
  color: $grey;
  cursor: default;
  padding: 15px;
  margin: 20px;
  width: 100%;
}
%mobileMediaQuery {
  @media screen and(max-width:576px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
/* generall */
* {
  margin: 0;
  font-family: Sahel, sans-serif;
  font-size: 15px;
}
body {
  background: $bodyBackground;
}
/* header section */
.header {
  background-color: #f3f4f4;
  min-height: 50px;
  box-shadow: 0 4px 2px -2px rgba(133, 133, 133, 0.479);
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
}
.header .container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.header__nav ul {
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  @media screen and(max-width:992px) {
    flex-direction: column;
  }
}
.header__nav a {
  text-decoration: none;
  color: $grey;
  margin: 0 10px;
}
.header__nav a:hover {
  color: $dark-grey;
}
.header__logo img {
  width: 150px;
  height: auto;
  padding: 0 15px;
  margin-right: 5px;
}
/* main section */
.mainSection {
  * {
    user-select: none;
  }
  position: relative;
  top: 50px;
  margin-bottom: 50px;
}
.mainSection__sideBar {
  @extend %mobileMediaQuery;
}
.mainsection__sideBar__section {
  @extend %boxLayout;
  li {
    margin: 10px 0;
  }
}
.mainsection__sideBar__section h6 {
  text-align: center;
  font-weight: bold;
}
.mainsection__sideBar__section ul {
  text-align: right;
  list-style-type: none;
  li:first-child {
    span:hover {
      color: $basicGreenColor;
    }
    li:hover {
      color: $basicGreenColor;
    }
  }
  li:first-child + li:hover {
    color: $basicGreenColor;
  }
}
.mainsection__sideBar__section__list {
  position: relative;
  right: 15px;
  li {
    display: inline-block;
    width: 100%;
  }
  li:hover {
    position: relative;
    right: 15px;
  }
  .selectedItem {
    position: relative;
    right: 15px;
  }
  display: none;
}
// .mainsection__sideBar__section__categories {
// li{margin: }
// }

.selectedItem {
  color: $darkGreen !important;
}

// qualityCheckBox
.mainsection__sideBar__section__qualityCheckBox,
.mainsection__sideBar__section__farmers {
  li {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5px;
  }
  li:hover {
    color: $basicGreenColor;
  }
  button {
    background: none;
    border: none;
    outline: none;
  }
  label {
    margin: 0 !important;
  }
}
.qualityCheckBox i {
  display: inline-block;
  font-size: 25px !important;
  margin-left: 5px;
}
// icons stylings
.fa-arrow-left {
  transition: all 0.5s ease;
  color: $dark-grey !important;
  position: relative;
  right: 7px;
}
.fa-check-square {
  color: $basicGreenColor !important;
}

// mainSection__main
.mainSection__main {
  @extend %mobileMediaQuery;
}
.mainSection__main__description {
  @extend %boxLayout;
  * {
    margin: 15px 0;
  }
  text-align: center;
  padding: 25px;
  h5 {
    color: black;
    font-weight: bold;
    margin-top: 0;
  }
  p {
    direction: rtl;
  }
}

.sortBy {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: right;
  direction: rtl;
  position: relative;
  margin: 15px 0 5px 0;
  .sortBy__type {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  i {
    position: relative;
    right: 75px;
  }
  .sortBy__type__selector {
    appearance: none;
    border: none;
    list-style: none;
    margin: 0;
    padding: 0 10px;
    position: absolute;
    top: 0;
    button {
      background: none;
      border: none;
      cursor: default;
      display: none;
      padding-bottom: 5px;
      outline: none;
    }
    button:hover {
      color: $basicGreenColor !important;
    }
  }
}

// cards
.mainSection__cardsList {
  padding: 10px;
  .row {
    display: flex;
    justify-content: space-around;
    margin: 15px 0;
  }
  .col-lg-3 {
    box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    margin: 10px;
    padding: 0;
  }
}
.mainSection__card {
  @extend %boxLayout;
  box-shadow: none;
  // padding: 30px;
  border-radius: 5px 5px 0 0;
  margin: 0;
  img {
    width: 100%;
    height: auto;
  }
  .mainSection__card__orderButton {
    background: $basicGreenColor;
    border: none;
    border-radius: 5px;
    color: $bodyBackground;
    // height: 20px;
    padding: 5px;
  }
  .mainSection__card__orderButton:hover {
    background: darken($basicGreenColor, 25%);
  }
  .mainSection__card__description {
    direction: rtl;
    color: black;
    font-size: 90%;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
  }
  .card__price {
    font-size: 90%;
    text-align: center;
    display: flex;
    color: rgb(110, 106, 106);
    justify-content: space-around;
    align-items: center;
    span {
      font-size: 95%;
    }
  }
}
.mainSection__card__additionalDetails {
  background: $light-grey;
  border-radius: 0 0 5px 5px;
  direction: rtl;
  display: flex;
  justify-content: center;
  margin: 0 !important;
  align-items: center;
  padding: 0px;
  width: 100%;
  .col-3 {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .farmerPic {
    border-radius: 50%;
    width: 15px;
    height: 15px;
  }
  .farmerName {
    display: inline-block;
    font-size: 60%;
    // margin: 0 5px;
  }
  .cardIcons {
    width: 100% !important;
  }
  .cardIcon {
    width: 15px;
    height: auto;
    padding: 0 5px;
  }
}

// footer
footer {
  background-color: #f3f4f4;
  min-height: 50px;
  box-shadow: 0 4px 2px -2px rgba(133, 133, 133, 0.479);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  z-index: 1;
  a{padding-left: 5px ;}
}
